@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt1r {
  margin-top: 1rem;
}
.mt2r {
  margin-top: 2rem!important;
}

.fjcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fjcsb {
  display: flex!important;
  justify-content: space-between!important;
  align-items: center!important;
}