.form__custom {
  max-width: 600px;
  min-width: 300px;
  font-size: 16px;
  p {
    font-size: 35px;
  }
  &-input {
    font-size: 20px;
    //margin-bottom: 5rem!important;
    //margin-top: 5rem!important;
    //margin-left: 0!important;
    //margin-right: 0!important;
  }
}